body {
    border: 2px solid #2bcec1;
    position: relative;
    margin: 10px;
}

nav {
    border: 2px solid #d81fa2;
    width: 150px;
    box-sizing: border-box;
    position: absolute;
}

main {
    position: relative;
    margin-left: 150px;
}

section {
    border: 2px solid #FFCF40;
    position: relative;
}

footer {
    border: 2px solid #34df1a;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    height:200px;
    text-align: center;
    
}

.grayFont{
    background-color: lightgray;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
}

#graySection{
    background-color: #e6e6e6;
}