// @mixin listItem {

//     .menu {
    
//         li a{
//             font-family: 'Times New Roman', Times, serif;
//             color: limegreen;
//             font-size: 20px;
//             border-top: 2px solid black;
//         }
//     }
// }

// @include listItem();
// .menu{
//     @include listItem;
// }

@mixin button-style($font, $color, $size, $hover) {
    a{
        font-family: $font;
        color: $color;
        font-size: $size;
        &:hover{
            background-color: $hover;
        }
    }
}

.button{
    @include button-style('Times New Roman', yellow, 20px ,blue)
}


